.elso{
    margin-left: 200px;
    width: 400px;
}

.kekkor{
    margin:auto;
}
.kekkor2{
    margin:auto;
}

.masodik{
    margin-left: 200px;
    width: 400px
}

.piroskor{
    margin-left: 10px;
}

.piroskor2{
   margin-left: 10px;
}

.eredmenys {
    margin-left: 187px;
}
.plusz {
    margin-top: 10px;
}
.egyenlo {
    margin: auto;
}